body{
  background-color: #282c34;
  color: white;

}

.App {
  text-align: center;
}

.mapDrawing {
  height: 23px;
  width: 23px;
  
  background-color: #313b4d;
}
.mapVisGroup{
  margin-top: 50px;
  display: flex
}

.mapTable {
  margin-left: auto;
  margin-right: auto;
}

.attractionsTable{
  margin-left: auto;
  margin-right: auto;
}
.visitorsTable{
  margin-left: auto;
  margin-right: auto;
}

.statuses {
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.statusCells{
  padding: 5px;
  border-radius: 5px;
  color: black;
}

.flexin{
  display: flex;
  justify-content: center;
}

.margs{
  padding: 20px;
}

button{
  background-color: #191c21;
  border-color: rgb(0, 0, 0);
  color: wheat;
  border-radius: 6px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

